# ==============================================================================
# PROJECT SETUP
# ==============================================================================
# This project uses multiple environments (debug and release), 
# after cloning you SHOULD create 3 files in the project root.
#
# From Linux/Mac terminal:
#   cp .env.example .env
#   touch .env.debug
#   touch .env.release
#
# If you use Windows, simply create 3 empty files with the names above,
# then copy the templates below and fill the variables with values.
# ==============================================================================


# ==============================================================================
# 1. FILE: .env
# (Common configuration: loads on every environments)
# ==============================================================================
APP_PORT=


# ==============================================================================
# 2. FILE: .env.debug
# (Only loads when executing 'make debug')
# ==============================================================================
ENVIRONMENT=development


# ==============================================================================
# 3. FILE: .env.release
# (Only loads when executing 'make release')
# ==============================================================================
ENVIRONMENT=production