# FastAPI dependencies
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9

# SISAL AutoQC dependencies
pandas
numpy
openpyxl
xlrd
matplotlib<3.11.0
cartopy
shapely

# Python tester dependencies
pytest
pytest-asyncio
pytest-cov
httpx2